<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>

    <h1> Calculator </h1>

    <form action="/">
        <div>
            <label for="num1" class="from-label"> Number 1 </label>
            <input type="text" class="form-control" name="num1" id="num1", placeholder="First Number">
        </div>
        <br>

        <div>
            <label for="num2" class="from-label"> Number 2 </label>
            <input type="text" class="form-control" name="num2" id="num2", placeholder="Second Number">
        </div>
        <br>

        <button type="submit"> Calculate </button>

        

    </form>
    
    
</body>
</html>